body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  text-decoration: none;
}

.header-logo-text {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.header-list {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196f3;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.mail-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.mail-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
