body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  text-decoration: none;
  background: #ffffff;
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.header-list {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
  cursor: pointer;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.main-text-section {
  background: #2f303a;
}
.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.mail-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.mail-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
/* -----About-----*/

.about {
}
.about-list {
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-bottom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: #757575;
}
.side-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.masters {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.masters {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.footer-down {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
/*--------GALLERY-------*/
.url {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.url:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.company-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
