:root {
  --white-color: #ffffff;
  --grey-color: #757575;
  --blue-color: #2196f3;
  --black-text: #212121;
  --black-back: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  font-family: 14px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  text-decoration: none;
  background: var(--white-color);
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-text);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--blue-color);
}
.main-text-section {
  background: var(--black-back);
}
.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.mail-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--blue-color);
}
.mail-btn:hover {
  color: var(--white-color);
  background-color: var(--grey-color);
}
/* -----About-----*/
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}
.about-bottom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: var(--grey-color);
}
.side-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.masters {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--black-text);
}
.masters {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-text);
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.footer-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.footer-address:hover,
.footer-contacts:hover {
  color: var(--blue-color);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--grey-color);
}
.footer-down {
  background: var(--black-back);
}
/*--------GALLERY-------*/
.url-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}
.url-button:hover {
  color: #ffffff;
  background-color: var(--blue-color);
}
.company-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
